:root {
    --accent-color: rgb(80, 180, 90);

    --light-text-color: rgb(0, 0, 0);
    --light-body-background-color: rgb(255, 255, 255);
    --light-code-among-normal-text-background: rgb(230, 230, 230);
}

[theme='dark'] {
    --dark-text-color: rgb(180, 180, 180);
    --dark-body-background-color: rgb(0, 0, 0);
    --dark-code-among-normal-text-background: rgb(50, 50, 50);
}

* {
    box-sizing: border-box;
}

body {
    padding: 1rem;
    margin: 0;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: var(--dark-text-color, var(--light-text-color));
    background-color: var(--dark-body-background-color, var(--light-body-background-color));
}

a {
    color: inherit;
}

a:hover,
h3,
h4,
h1 {
    color: var(--accent-color);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 100,
        'GRAD' -25,
        'opsz' 20
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0 1rem 0;
    gap: 1rem;
    width: min(100%, 50rem);
}

nav a {
    text-decoration: none;
}

nav .is-active {
    text-decoration: underline var(--accent-color);
}

.page-wrapper *,
.section *,
.page-wrapper,
.section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-wrapper {
    width: min(100%, 50rem);
    flex-grow: 1;
}

.page-wrapper>* {
    padding: 1rem 0 0.5rem 0;
}

.intro {
    font-size: 1.5rem;
    border-left: solid var(--accent-color) 0.10rem;
    padding-left: 0.25rem;
}

.section {
    padding: 0.5rem 0 0.5rem 0;
}

.section>p {
    padding-bottom: 0.5rem;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.title h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title time {
    white-space: nowrap;
    padding-left: 1rem;
}

footer p {
    text-align: center;
    padding: 0;
    margin: 0;
}

footer div {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 2rem;
}

/* Post related styles */
.post-wrapper {
    width: min(100%, 50rem);
    flex-grow: 1;
}

.post-wrapper img {
    max-width: 100%;
}

pre {
    overflow-x: auto;
    padding: 0.5rem;
}

p>code {
    background-color: var(--dark-code-among-normal-text-background, var(--light-code-among-normal-text-background));
    padding: 0 0.25rem 0 0.2rem;
}