<style>
    .resume .links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 0.5rem;
    }

    .resume .links a {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        padding-left: 0.15rem;
        padding-right: 0.15rem;
        border-radius: var(--border-radius);
    }

    .resume .links a:hover {
        color: var(--dark-accent-color, var(--light-accent-color));
    }

    .resume .contact {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .resume .contact p {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }

    .resume .main {
        padding-top: 2rem;
    }

    .resume .main div {
        padding-bottom: 2rem;
    }

    .resume ul {
        padding-left: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .resume ul li:before {
        content: '-';
        position: absolute;
        margin-left: -1rem;
        color: var(--dark-accent-color, var(--light-accent-color));
    }

    .resume .list_style_color {
        color: var(--dark-accent-color, var(--light-accent-color));
    }
</style>

<div class="resume">
    <h1 style="text-align: center;">Biswarup Murmu</h1>
    <div class="links">
        <a href="https://linkedin.com/in/{{site.linkedin_username}}">[Linkedin]</a>
        <a href="https://github.com/{{ site.github_username }}">[Github]</a>
        <a href="https://leetcode.com/{{ site.leetcode_username }}">[Leetcode]</a>
    </div>
    <div class="contact">
        <p>{{site.email}}</p>
        <p>{{site.mobile_number}}</p>
    </div>
    <div class="main">
        {% for details in site.data.resume.resume.details %}
        <div>
            {% assign title_printed = 0 %}
            {% for i in details %}
            {% if title_printed == 0%}
            <h4><span class="list_style_color">&gt</span> {{i[0]}}:</h4>
            {% assign title_printed = 1 %}
            {% endif %}
            {% if i[1] %}
            <ul>
                {% for j in i[1] %}
                <li>{{j}}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>