<style>
    .navbar_container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    .nav_items {
        width: min(100%, 60rem);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: var(--dark-container-box-border, var(--light-container-box-border));
    }

    .nav_items li {
        padding-left: 0.25rem;
        padding-right: 0.5rem;
    }

    .nav_items li a {
        color: var(--dark-accent-color, var(--light-accent-color));
    }

    .nav_items li a:hover {
        text-decoration: underline;
    }

    @media (max-width: 40rem) {
        .nav_items {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
    }

    @media (max-width: 24rem) {
        .nav_container {
            padding: 0.5rem;
        }

        .nav_items {
            gap: 0.2rem;
        }
    }

    @media (max-width: 22rem) {
        .nav_items {
            flex-direction: column;
        }
    }
</style>

<div class="navbar_container">
    <div class="nav_items">
        <li id="nav_home"><a href="{% link index.html %}">.home</a></li>
        <li id="nav_projects"><a href="{% link pages/projects/projects.html %}">.projects</a></li>
        <li id="nav_resume"><a href="{% link pages/resume/resume.html %}">.resume</a></li>
        <li id="nav_blog"><a href="{% link pages/blog/blog.html %}">.blog</a></li>
    </div>
</div>