<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<style>
    /* Box sizing property must be set to Border box */
    #change_theme {

        --button-window-height: 1.5rem;
        --button-window-width: 3rem;
        /* Width must be greater than or equal to twice of the height*/

        /* Transition time */
        --transition-style: all ease-in-out 0.2s;

        /*When button is in the left(OFF)*/
        --border-color-off: rgb(0, 0, 0);
        --background-color-off: rgb(255, 255, 255);
        --button-color-off: black;
        --icon-color-off: rgb(255, 166, 0);

        /*When button is in the right(ON)*/
        --border-color-on: rgb(255, 255, 255);
        --background-color-on: rgb(0, 0, 0);
        --button-color-on: rgb(0, 0, 0);
        --icon-color-on: rgb(255, 255, 255);

        /* Avoid changing section below unless you really want to*/
        /* -------------------------------------------------------------X ------------------------------------------------------------- */
        --button-window-border: calc(var(--button-window-height) * 0.05);
        --button-window-padding: calc(var(--button-window-height) * 0.2);

        --icon-font-size: calc(var(--button-window-height) - calc(var(--button-window-border) * 2) - calc(var(--button-window-padding) * 2));

        --button-size: calc(var(--button-window-height) * 0.7);
        --button-aspect-ratio: 1;

        --left: calc(calc(var(--button-window-height) - var(--button-size)) / 2);
        --travel-button-X-distance: calc(var(--button-window-width) - calc(var(--left)*2) - var(--button-size));
        /* -------------------------------------------------------------X ------------------------------------------------------------- */
    }

    .theme_toggle_button_size {
        transform: scale(1);
    }

    .theme_toggle input[type=checkbox] {
        display: none;
    }

    .theme_toggle label {
        width: var(--button-window-width);
        height: var(--button-window-height);
        background-color: var(--background-color-off);
        border: var(--button-window-border) solid var(--border-color-off);
        padding: var(--button-window-padding);
        border-radius: var(--button-window-height);
        cursor: pointer;
        transition: var(--transition-style);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .theme_toggle label div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    .theme_toggle label:after {
        background-color: var(--button-color-off);
        width: var(--button-size);
        aspect-ratio: var(--button-aspect-ratio);
        content: '';
        border-radius: 50%;
        position: absolute;
        left: var(--left);
        transition: var(--transition-style);
    }

    .theme_toggle input[type=checkbox]:checked~label {
        background-color: var(--background-color-on);
        border: var(--button-window-border) solid var(--border-color-on);
    }

    .theme_toggle input[type=checkbox]:checked~label::after {
        background-color: var(--button-color-on);
        transform: translateX(var(--travel-button-X-distance));
    }

    .icon_font_size {
        font-size: var(--icon-font-size);
        color: var(--icon-color-on);
    }

    .icon_font_size:nth-child(even) {
        color: var(--icon-color-off);
    }

    .material-symbols-outlined {
        font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 40
    }
</style>


<div id="change_theme" class="theme_toggle_button_size">
    <div class="theme_toggle">
        <input type="checkbox" id="theme_toggle_checkbox" />
        <label for="theme_toggle_checkbox">
            <div>
                <i class="material-symbols-outlined icon_font_size">dark_mode</i>
                <i class="material-symbols-outlined icon_font_size">brightness_high</i>
            </div>
        </label>
    </div>
</div>