<div style="display: flex; gap: 1rem; justify-content: center;">
    {% if page.previous and page.next %}
    <div>
        <a href="{{ page.previous | relative_url }}">
            <h4>&lt&lt prev</h4>
        </a>
    </div>
    <h4>|</h4>
    <div>
        <a href="{{ page.next | relative_url }}">
            <h4>next &gt&gt</h4>
        </a>
    </div>
    {% else %}
    {% if page.next %}
    <a href="{{ page.next | relative_url }}">
        <h4>next &gt&gt</h4>
    </a>
    {% endif %}
    {% if page.previous %}
    <a href="{{ page.previous | relative_url }}">
        <h4>&lt&lt prev</h4>
    </a>
    {% endif %}
    {% endif %}
</div>