---
layout: default
---
<style>
    .post_page {
        width: min(100%, 50rem);
        margin: 0 auto;
        padding: 1rem;
        padding-bottom: 2rem;
    }

    .post_page .section {
        padding-top: 2rem;
    }

    .theme_toggle_and_back {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>

<div class="post_page">

    <div class="theme_toggle_and_back">
        <div><a href="{% link pages/blog/blog.html %}">
                <h4>&lt&lt blog</h4>
            </a></div>
        <div>{% include /common/theme_toggle.html %}</div>
    </div>

    <div class="section">
        <h2>{{page.title}}</h2>
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
    </div>

    <div class="section" id="the_post" style="padding-top: 1rem;">
        {{ content }}
    </div>

    <div class="section">
        {% include /post/post_tags.html %}
    </div>
    <div class="section">
        {% include /post/post_navigation.html %}
    </div>
    <div class="section">
        {% include /post/related_posts.html %}
    </div>

</div>