@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

:root {

    --border-radius: 0.5rem;

    --light-accent-color: rgb(23, 179, 106);
    
    --light-body-background-color: rgb(255, 255, 255);

    --light-text-color: rgb(0, 0, 0);
    --light-text-background-color: rgb(235, 255, 253);

    --light-text-color-hover: rgb(0, 0, 0);
    --light-text-background-color-hover: rgb(190, 255, 248);
    --light-text-color-hover-strong: rgb(150, 0, 100);
    --light-text-background-color-hover-strong: rgb(175, 225, 225);

    --light-button-text-color: rgb(255, 255, 255);
    --light-button-background-color: rgb(24, 180, 105);
    --light-button-border: 0.1rem solid rgb(255, 255, 255);
    --light-button-text-color-hover: rgb(0, 0, 0);
    --light-button-background-color-hover: rgb(30, 200, 120);
    --light-button-border-hover: 0.1rem solid rgb(0, 60, 45);

    --light-container-box-border: 0.05rem solid var(--light-accent-color);
}
[theme = 'dark'] {

    --dark-accent-color: rgb(150, 0, 100);

    --dark-body-background-color: rgb(14, 4, 14);

    --dark-text-color: rgb(160, 160, 160);
    --dark-text-background-color: rgb(22, 18, 22);

    --dark-text-color-hover: rgb(138, 59, 138);
    --dark-text-background-color-hover: rgb(31, 15, 22);
    --dark-text-color-hover-strong: rgb(23, 179, 106);
    --dark-text-background-color-hover-strong: rgb(39, 31, 35);

    --dark-button-text-color: rgb(23, 179, 106);
    --dark-button-background-color: rgb(43, 27, 43);
    --dark-button-border: 0.1rem solid rgb(126, 39, 126);
    --dark-button-text-color-hover: rgb(24, 220, 100);
    --dark-button-background-color-hover: rgb(31, 15, 26);
    --dark-button-border-hover: 0.1rem solid rgb(63, 17, 31);

    --dark-container-box-border: 0.05rem solid var(--dark-accent-color);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Mono', monospace;
}

body {
    color: var(--dark-text-color, var(--light-text-color));
    background-color: var(--dark-body-background-color, var(--light-body-background-color));
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.tag_normal {
    font-weight: bold;
    color: var(--dark-accent-color, var(--light-accent-color));
}

.tag_open {
    font-weight: bold;
    padding-bottom: 0.5rem;
    color: var(--dark-accent-color, var(--light-accent-color));
}

.tag_close {
    font-weight: bold;
    padding-top: 0.5rem;
    color: var(--dark-accent-color, var(--light-accent-color));
}

.section_container {
    display: flex;
    justify-content: center;
}